/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(207, 207, 207);
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.705);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
}

section {
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}